<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MAVLink" version="1.0.8" manuallyInstalled="true" />
  <package id="Melanchall.DryWetMidi" version="8.0.2" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" />
</packages>